<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>StarSail Travel Agency</title>
  </head>
<body>
  <div class="bg-image" style="background-image: url('/static/images/voyagemap.png'); height: 100vh;">
    <div class="container d-flex align-items-center justify-content-center text-center h100">
    <div class="text-white" data-mdb-theme="dark">
    <div class="container align-items-center text-center justify-content-center">
      <h1>BOOK YOUR TRAVEL</h1></div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            <div class="mb-3">
                {{field.label}}
                {{field(class="form-control")}}
            </div>
        </p>
        {% endfor %}
        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }} text-danger">{{ message }}</div>
            {% endfor %}
        <button class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init>Submit</button>
        <a href="/voyagemap" class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init>Cancel</a>
      </form>
        </div>
      </div>
    </div>
</body>
</html>