<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>StarSail Travel Agency</title>
  </head>
<body>

    <div class="bg-image" style="background-image: url('/static/images/voyagemap.png'); height:100vh;">
      <div class="container d-flex align-items-center justify-content-center text-center">
        <div class="text-white" data-mdb-theme="dark" style="border: 2px solid #ffffff; padding: 20px; margin: 30px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.75);">
          <h1 class="mb-3" style="text-shadow: 0 0 20px rgba(195, 0, 255, 1);">EDIT YOUR PROFILE</h1>
          <form method="POST">
            {{ form.hidden_tag() }}
            {% for field in form
                if field.widget.input_type != 'hidden' %}
            <p>
                <div class="form-group">
                    {{field.label}}
                    {{field(class="form-control")}}
                </div>
            </p>
            {% endfor %}
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }} text-danger">{{ message }}</div>
            {% endfor %}
            <button class="btn btn-outline-light btn-lg m-2">Submit Changes</button>
            <a href="/voyagemap" class="btn btn-outline-light btn-lg m-2">Cancel</a>
            </div>
        </form>
        </div>
      </div>
  </div>
</body>
</html>