<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>StarSail Travel Agency</title>
  </head>
<body>
  <div class="bg-image" style="background-image: url('/static/images/voyagemap.png'); height:100vh;">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white" data-mdb-theme="dark">
          <h1 class="mb-3">S T A R S A I L</h1>
          <h5 class="mb-4">Interplanetary Vacations Made Easy</h5>
          <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="/register" role="button">Register</a>
          <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="/login" role="button">Login</a>
          <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init href="/voyagemap" role="button">Explore the Voyage Map</a>
          {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }} text-danger">{{ message }}</div>
            {% endfor %}
        </div>
      </div>
  </div>
</body>
</html>