<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>StarSail Travel Agency</title>
  </head>
<body>
    <div class="bg-image" style="background-image: url('/static/images/voyagemap.png');">
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
              <ul class="nav navbar-nav navbar-left navbar-dark">
                {% if not g.user %}
                <li><a href="/register" class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init>Register</a></li>
                <li><a href="/login" class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init>Log in</a></li>
                {% else %}
                <li>
                  <a href="/users/{{ g.user.id }}">
                    <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}" width="50" height="50" class="rounded-circle"/>
                  </a>
                </li>
                <li><a href="/logout" class="btn btn-outline-light btn-md m-2" data-mdb-ripple-init>Log out</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
      <div class="container d-flex align-items-center justify-content-center text-center">
        <div class="text-white" data-mdb-theme="dark" style="border: 2px solid #ffffff; padding: 20px; margin: 30px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.75);">
            <div class="container">
                <img src="{{ user.image_url }}" alt="{{ user.username }}" width="150" height="150" class="rounded-circle"/>
                <h1 class="mb-3" style="text-shadow: 0 0 20px rgba(195, 0, 255, 1);">{{ user.username }}</h1>
                <h3>{{user.email}}</h3>
                <h3>Home Planet: {{user.home_planet_name.name}}</h3>
                <h4>Bio: {{user.bio}}</h4><br>
                <h4 style="text-shadow: 0 0 20px rgba(195, 0, 255, 1);">TRIP HISTORY</h4>
                <table class="table">
                  <tr class="text-white">
                    <th>Departing Planet</th>
                    <th>Arriving Planet</th>
                    <th>Flight Time</th>
                  </tr>
                  {% for flight in user_flights %}
                  <tr class="text-white">
                    <td>{{ flight.departing_planet.name }}</td>
                    <td>{{ flight.arriving_planet.name }}</td>
                    <td>{{ flight.flight_time }}</td>
                  </tr>
                  {% endfor %}
                </tr>
                </table>
            </div>
            <a href="/edit" class="btn btn-outline-light btn-lg m-2" >Edit</a>
            <a href="/voyagemap" class="btn btn-outline-light btn-lg m-2" >Back to Voyage Map</a>
            </div>
        </div>
      </div>
  </div>
</body>
</html>