<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>StarSail Travel Agency</title>
  </head>
  <body>
    <div
      class="bg-image"
      style="background-image: url('/static/images/voyagemap.png');
        height: 100vh;">
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <ul class="nav navbar-nav ml-auto navbar-right navbar-dark">
          {% if not g.user %}
          <li><a href="/register" class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init>Register</a></li>
          <li><a href="/login" class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init>Log in</a></li>
          {% else %}
          <li class="btn text-white btn-md m-2">Welcome, {{g.user.username}} of {{g.user.home_planet_name.name}}</li>
          <li><a href="/users/{{ g.user.id }}" class="btn btn-outline-light btn-md m-2" data-mdb-ripple-init>My Trips</a></li>
          <li><a href="/logout" class="btn btn-outline-light btn-md m-2" data-mdb-ripple-init>Log out</a></li>
          <li>
            <a href="/users/{{ g.user.id }}">
              <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}" width="50" height="50" class="rounded-circle"/>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
      <div
        class="container d-flex align-items-center justify-content-center text-center h-100"
      >
        <div class="text-white" data-mdb-theme="dark">
          <h1 class="text-white">Plan Your Interplanetary Getaway</h1>
        </div>
        <div class="h-100 d-flex align-items-center justify-content-center">
          <p>
            {% for planet in planets %}
            <a
              class="btn btn-outline-light btn-lg m-2"
              data-mdb-ripple-init
              href="/planetinfo/{{planet.id}}"
              role="button"
              >{{planet.name}}</a
            >
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
